@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
  margin: 0.01px;
  /* padding: auto; */
}

/* fade-in-from-left animation */
.fade-in-from-left {
  opacity: 0;
  transform: translateX(-20px); /* Start offscreen to the left */
  animation: fadeInFromLeft 1s ease forwards;
}

@keyframes fadeInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0); /* Move to its original position */
  }
}

/* Fonts */

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
}

/* everything else */
.image-container {
  background: linear-gradient(rgba(27, 23, 23, 0.7), rgba(27, 23, 23, 0.7)),
    url(images/cap1.jpeg);
  background-position: center;
  /* background-position-y: 850px; */
  height: 650px;
  width: 100%;
}

.sac-icon {
  position: relative;
  display: block;
  width: 50px;
  left: 10px;
  top: 10px;
}

#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.75rem;
  background-color: #d1caa1;
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 6px;
  transition: ease 0.2s;
}

#menu:hover {
  cursor: pointer;
  background-color: #d4d6b9;
}

#menu::before {
  content: "↓";
}

#menu.open::before {
  content: "↑";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #d1caa1;
  color: #fff;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #66717e;
  color: white;
  font-weight: 700;
}

.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
  color: black;
}

ul {
  background-color: #d1caa1;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.heading-contents {
  position: sticky;
}

.main-heading {
  color: white;
  padding: 30px 5px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  font-size: 30px;
}

p {
  color: white;
  text-align: center;
  padding-bottom: 25px;
  text-shadow: 0px 0px 5px black;
}

.button-position {
  text-align: center;
}

.actionButton {
  height: 40px;
  width: 100px;
  font-size: 15px;
  text-align: center;
  background: transparent;
  border: 0.01px solid #d1caa1;
  border-radius: 9px;
  color: black;
  cursor: pointer;
  transition: ease 0.2s;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #d1caa1;
  font-weight: bold;
  letter-spacing: 2px;
}

.actionButton:hover {
  background-color: rgb(59, 163, 59);
  border: 1px solid transparent;
  color: white;
}

.events {
  width: 100%;
  height: 250px;
  background-color: #d1caa1;
}

.events h2 {
  color: white;
  text-align: center;
}

.weather-card {
  color: white;
  text-align: center;
  background-color: #383b53;
  width: 100%;
  height: 250px;
}

.advertisements {
  color: white;
  background-color: #d1caa1;
  width: 100%;
  height: 250px;
  text-align: center;
}

footer {
  background-color: #383b53;
  text-align: left;
}

footer p {
  color: white;
}
