@media only screen and (min-width: 32em) {
  .image-container {
    width: 100%;
  }

  ul {
    flex-direction: row;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInFromLeft 1s ease forwards;
  }

  li:hover {
    transform: scale(1.1);
  }

  .main-heading {
    margin-top: 40px;
    font-size: 90px;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInFromLeft 1s ease forwards;
  }

  nav p {
    padding-right: 500px;
    font-size: 17px;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInFromLeft 1s ease forwards;
  }

  .actionButton {
    position: relative;
    right: 412px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    font-size: 21px;
    opacity: 0;
    transform: translateX(-20px); /* Start offscreen to the left */
    animation: fadeInFromLeft 1s ease forwards;
  }

  .actionButton:hover {
    color: white;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 1px; */
    margin-top: 15px;
  }

  main div {
    width: 450px;
    height: 300px;
    background-color: salmon;
  }
}

