@media only screen and (min-width: 32em) {
  .image-container {
    object-fit: contain;
  }

  .image-container-discovery {
    background: linear-gradient(rgba(27, 23, 23, 0.7), rgba(27, 23, 23, 0.7)),
      url(../images/discover-head.jpeg);
    /* background-position: center; */
    /* background-position-y: 850px; */
    height: 650px;
    width: 100%;
    /* object-fit: cover; */
    background-size: 100%;
  }

  .image-container-directory {
    background: linear-gradient(rgba(27, 23, 23, 0.7), rgba(27, 23, 23, 0.7)),
      url(../images/directory-head.webp);
    /* background-position: center; */
    /* background-position-y: 850px; */
    height: 650px;
    width: 100%;
    /* object-fit: cover; */
    background-size: 100%;
  }

  .sac-icon:hover {
    cursor: pointer;
  }

  #menu {
    display: none;
  }

  .navigation {
    flex-direction: row;
    background-color: transparent;
    margin-bottom: 100px;
    position: absolute;
    top: 5px;
    right: 100px;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
    transition: ease 0.2s;
  }

  .navigation li:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .navigation li a {
    color: white;
    transition: ease 0.2s;
    cursor: pointer;
  }

  .navigation li a:hover {
    background-color: transparent;
  }

  .stuff {
    margin: 1rem auto;
  }

  ul {
    display: flex;
  }

  .main-heading {
    margin-top: 150px;
    font-size: 66px;
  }

  .heading-contents p {
    padding-left: 250px;
    padding-right: 250px;
  }

  /* DISCOVER */

  .discover-main {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: white;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 500px 500px 500px 500px 500px;
  }

  .first-header {
    grid-column: 1/2;
  }

  .discover-h1 {
    padding-bottom: 30px;
  }

  .demographic-content {
    grid-row: 1/4;
    /* border: 2px solid black; */
    border-radius: 25px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* padding: 25px 25px; */
    background-color: white;
  }

  .second-header {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .third-header {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .discover-h1 {
    text-align: left;
    color: #d1caa1;
  }

  .discover-p {
    text-align: left;
    margin-top: 25px;
  }

  .pictures {
    grid-column: 3/4;
  }

  .picture-pictures {
    grid-column-start: 3/4;
    grid-row: 1/4;
    /* border: 2px solid black; */
    /* border-radius: 25px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* padding: 25px 25px; */
    /* background-color: white; */
  }

  .pictures img {
    transition: ease 0.2s;
    padding-bottom: 10px;
    /* border-radius: 25px; */
  }

  /* .pictures img:hover {
    transform: scale(1.1);
  } */

  .localStorageNumbers {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  /* join.html */
  h1 {
    padding: 10px;
    text-align: left;
  }
  form {
    margin: 10px 10px;
    text-align: left;
  }

  legend {
    margin: 20px;
  }

  label {
    display: block;
    text-align: left;
    padding: 10px 20px;
  }

  input {
    display: block;
  }

  input#submitBtn {
    width: 25%;
  }

  #membership {
    display: block;
  }

  .join-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
  }

  .information-box {
    grid-column: 1/2;
    grid-row: 1;
  }

  .membership-info {
    grid-column: 2/3;
    grid-row: 1;
    border: 1px solid rgb(74, 79, 74);
    border-radius: 9px;
    background-color: antiquewhite;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .membership-h1 {
    text-align: center;
    color: red;
  }

  .submitJoin {
    height: 100px;
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
  }
}
